/* montserrat-regular - cyrillic_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic_latin-regular.woff") format("woff");
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v14-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic_latin-700.woff") format("woff");
}
/* montserrat-900 - cyrillic_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat-v14-cyrillic_latin-900.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic_latin-900.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1560px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  display: flex;
  background: #f8f9fc;
}

.progress-bar {
  background: url("../img/ellipse-active.svg") 0 4px no-repeat, url("../img/ellipse-rest.svg") 435px 4px no-repeat, url("../img/ellipse-rest.svg") 870px 4px no-repeat, url("../img/ellipse-rest.svg") 1305px 4px no-repeat, url("../img/line.svg") 0 9px no-repeat;
  display: flex;
  width: 1320px;
  min-height: 100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.progress-bar__item {
  width: 412px;
  margin-top: 44px;
  margin-right: 240px;
}
.progress-bar__item-heading {
  font-size: 16px;
  margin-bottom: 11px;
  line-height: 135.09%;
  color: #838486;
}
.progress-bar__item-par {
  font-size: 13px;
  line-height: 133.21%;
  color: #B1B1B4;
}

.cashback-item {
  margin-right: 258px;
}

.main__info-input {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 1320px;
}

.cashback {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  min-height: 760px;
  background-color: #ffffff;
  margin-right: 40px;
  border: 1px solid #f1f3f8;
  box-sizing: border-box;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
.cashback__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 136.56%;
  text-transform: uppercase;
  color: #acb1c1;
  margin-top: 27px;
  margin-left: 38px;
  border-bottom: 1px solid #acb1c1;
  height: 40px;
  width: 560px;
}
.cashback__info-big {
  font-size: 30px;
  font-weight: 900;
  line-height: 132.83%;
}
.cashback__info-small {
  font-size: 13px;
  line-height: 133.21%;
  color: #9098ad;
}
.cashback__info-detail-1 {
  font-size: 18px;
  line-height: 135.09%;
  color: #616773;
}
.cashback__info-detail-2 {
  font-size: 18px;
  line-height: 135.09%;
  color: #616773;
}
.cashback__set-cashback {
  font-size: 18px;
  line-height: 151.3%;
  color: #ffffff;
  background-color: #4c82ff;
}
.cashback__watch-presentation {
  font-size: 18px;
  line-height: 151.3%;
  color: #467bf6;
}
.cashback__user-agreement-label {
  font-size: 13px;
  line-height: 133.21%;
  color: #9098ad;
}

.company-data {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  min-height: 760px;
  background-color: #ffffff;
  border: 1px solid #f1f3f8;
  box-sizing: border-box;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
.company-data__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 136.56%;
  text-transform: uppercase;
  color: #acb1c1;
}
.company-data__info-big {
  font-size: 30px;
  font-weight: 900;
  line-height: 132.83%;
}
.company-data__info-small {
  font-size: 18px;
  line-height: 151.3%;
  color: #616773;
}
.company-data__company-name-label {
  font-size: 18px;
  line-height: 151.3%;
  color: #9098ad;
}
.company-data__company-address-input {
  font-size: 18px;
  line-height: 151.3%;
  color: #9098ad;
}
.company-data__submit-button {
  font-size: 18px;
  line-height: 151.3%;
  color: #ffffff;
  background-color: #4c82ff;
}

/*# sourceMappingURL=style.css.map */
